
/*COLOR*/
body {
	background-color: #776655;
	color: #555544;
	background-image: url(imgs/minimalfly.jpg);
}
#choices {
	background-color: #ccbb88;
}
select {
	color: #887766;
	background-color: #eeddbb;
}
/*LAYOUT*/
* {
	padding: 0;
	margin: 0;
}
.question {
	font-size: 1.3em;
	font-weight: bold;
}
#choices {
	min-width: 600px;
	min-height: 50%;
	margin: 1% auto 1% auto;
	padding: 2%;
	overflow: hidden;
	width: 70%;
}
#choices > div {
	margin-left: auto;
	margin-right: auto;
}
.choice, .reactionDiv {
	float: left;
	width: 20%
}
.reactionDiv {
	width: 60%;
}
.rPic {
	float: left;
	height: 10%;
	width: 10%;
	min-height: 20px;
	min-width: 15px;
	margin-right: 1%;
}
.noFloat {
	clear: both;
}
p.quote {
	font-style: italic;
	margin-top: 5%;
}