form#searchForm label {
	display: inline-block;
	width: 10em;
}
form#searchForm select {
	width: 15em;
}
form#searchForm input[type="text"] {
	width: 14.7em;
}
form#searchForm select+ select {
	margin-left: 1em;
}
form#searchForm {
	width: 27em;
}
form#searchForm p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
#buttons {
	text-align: center
}
form#searchForm {
	margin: auto;
	font-variant: small-caps;
}
form#searchForm fieldset {
	border-style: dotted;
	border-color: black;
}

form#searchForm input[type="submit"], form#searchForm input[type="reset"], #showResultsInput{
    padding: 1% 8%;
    background-color:#C5DBDB;   
}


.error{
	color: red;
	text-align: center;
	font-size:1.3em;
}
#numResults{
	text-align: center;
	font-size:1.3em;
}
#numResults >span{
	font-weight: bold;
}

