form label {
	display: inline-block;
	width: 10em;
}
form select {
	width: 29.3em;
}
form input[type="text"] {
	width: 29em;
}
form select[name="state"], form select[name="town"] {
	width: 14em;
}
form select+ select {
	margin-left: 1em;
}
form {
	width: 40em;
}
#buttons {
	text-align: center
}
