table.tablesorter th, table.tablesorter td {
	text-align: center;
	vertical-align: middle;
}

table.tablesorter th {
	background-color: #fc0;
}
table.tablesorter th:hover {
	background-color: #fc7;
}
table.tablesorter tr a {
	color: rgb(102, 102, 102);
	text-decoration: none;
}
table.tablesorter tr a:hover {
	text-decoration: underline;
}
table.tablesorter a.orgLink {
	color: red;
}
.getAutoHeight {
	overflow: auto; /* edit by thobens: overflow: hidden seems to be better, as (at least) IE 8 shows always a disabled scrollbar with overflow: auto */
	height: auto;
}

#output > table{
	width: 100%;
}

div.pager{
	margin-top: -2%;
}

table.spaceCol td+td{
	margin-left: 1.5%;
}
